<template>
  <div :class="['sw-grid-row', 'sw-flexbox__flex']">
    <sw-content-toolbar>
        <sw-slider size="large" :circle-size="120" :class="['sw-flexbox__flex-none']"
        :with-dropdown="false"
        :style="{ width: '400px', 'margin': '4px 0px 0px 10px' }"
        :categories="categoryValues"
        v-model="selectedPeriodId"
      />
      <!-- <img src="@/assets/images/divider_v.png" :class="[`${cssPrefix}__img`]" /> -->
      
      <div>Refresh every: <sw-textfield :name="'Refresh Rate'" v-model="interval" @blur="refreshRate"/> sec.</div>
    </sw-content-toolbar>

    <sw-title-pane title-name="Applications" type="multilevel" />
    <div style="width: 100%" :class="['sw-flexbox']">
      <div :class="['sw-flexbox--start-items']">show Legend<sw-toggle name="basicSwitch" v-model="showLegend"></sw-toggle></div>
      <div style="width: 10%" :class="['sw-flexbox--end-items']">
        <sw-select
          v-model="selectValues"
          :options="options"
          :name="'selectName'"
          full
        ></sw-select>
      </div>
    </div>
    <sw-chart-line
      :updateStream="updateStreamDiskUp"
      :chart-data="upward"
      :axis-opts="scaleConfigUp"
      :chart-height="200"
      :options="chartConfigUp"
      :color-palette="['#47AFE8', '#815283', '#FDA348', '#E90076', '#EE5B62', '#515151']"
      enable-background
    ></sw-chart-line>
    <sw-chart-line style="margin-top: -1.5%"
      :updateStream="updateStreamDiskDown"
      :chart-data="downward"
      :chart-height="200"
      :axis-opts="scaleConfigDown"
      :options="chartConfigDown"
      :color-palette="['#47AFE8', '#815283', '#FDA348', '#E90076', '#EE5B62', '#515151']"
      enable-background
    ></sw-chart-line>
  </div>
</template>

<style lang="scss">
.fw-mgmt-ftr-monitor {
  overflow: hidden;
  &__no-border {
    width: 100%;
    height: 100%;
  }

  &__goToFlowReporting {
    color: white;
  }
}
</style>

<script lang="tsx">
import { Component, Watch } from 'vue-property-decorator';
import { SwExtendedVue } from '@libs-uuif/shared/sw-extended-vue';
import { SwTitlePane, SwTitlePaneGroup } from '@libs-uuif/shared/sw-title-pane';
import { SwScrollView } from '@libs-uuif/shared/sw-scroll-view';
import { SwStatusInfo } from '@libs-uuif/shared/sw-status-info';
import { SwChartLine, SwChartBar } from '@libs-uuif/shared/sw-chart';
import { SwButton } from '@libs-uuif/shared/sw-button';
import { SwSlider } from '@libs-uuif/shared/sw-slider';
import { SwContentToolbar } from '@libs-uuif/shared/sw-content-toolbar';
import { SwTextfield } from '@libs-uuif/shared/sw-textfield';
import moment from 'moment';
import { SwToggle } from '@libs-uuif/shared/sw-toggle';
import { SwSelect } from '@libs-uuif/shared/sw-select';
// import Axios from 'axios';
// import moment from 'moment';

// const cssPrefix: string = 'sw-ftr-chart-custom';
@Component({
  components: {
    SwSelect,
    SwToggle,
    SwContentToolbar,
    SwTextfield,
    SwSlider,
    SwButton,
    SwChartBar,
    SwTitlePane,
    SwTitlePaneGroup,
    SwScrollView,
    SwStatusInfo,
    SwChartLine,
  },
})
export default class SwFtrChartCustom extends SwExtendedVue {
  categoryValues: any[] = [
    { id: '1', label: '60sec' },
    { id: '2', label: '2min' },
    { id: '5', label: '5min' },
    { id: '10', label: '10min' },
  ];

  upward:any[] = [];

  downward = [
    { data:[], label: '1' },
    { data:[], label: '2' },
    { data:[], label: '3' },
    { data:[], label: '4' },
  ];

  selectedPeriodId = 1;

  interval = '1';
  refreshRateValue = 1000;

  showLegend = true;

  options: any[] = [
    { id: '1', label: '1', value: '1' },
    { id: '2', label: '2', value: '2' },
    { id: '3', label: '3', value: '3' },
    { id: '4', label: '4', value: '4' },
  ];

  color = ['#47AFE8', '#815283', '#FDA348', '#E90076', '#EE5B62', '#515151'];

  selectValues: string[] = [];
  allChart:[any, any] = [0, 0];
  present = false;

  @Watch('selectValues')
  onPropertyChanged(newValue, oldValue) {
    if (newValue.length > oldValue.length) {
      console.log('added new value');
      this.selectValues.forEach((obj, ind) => {
        this.present = false;
        for (let i = 0; i < this.allChart[0].config.data.datasets.length; i = i + 1) {
          if (this.allChart[0].config.data.datasets[i].label === obj) {
            this.present = true;
          }
        }
        console.log(this.present);
        if (!this.present) {
          this.allChart[0].config.data.datasets.push({ data: [], label: obj });
          this.allChart[0].config.data.datasets[ind].lineTension = 0;
          this.allChart[0].config.data.datasets[ind].backgroundColor = this.color[ind];
          this.allChart[0].config.data.datasets[ind].borderColor = this.color[ind];
          this.allChart[0].config.options.elements.point.pointStyle = 'none';
          this.allChart[0].config.options.elements.point.borderWidth = 0;
          this.allChart[0].config.options.elements.point.radius = 0;
          this.allChart[0].config.options.elements.point.hitRadius = 4;
          this.allChart[0].config.options.elements.point.hoverRadius = 0;
          this.allChart[0].config.options.elements.line.tenstion = 0;
          // this.allChart[1].update();
          // console.log(this.allChart[0]);
          this.allChart[0].update();
          console.log(this.allChart[0]);
        }
      });
    } else {
      console.log('deleted new value');
      this.allChart[0].config.data.datasets.forEach((obj, ind) => {
        this.present = false;
        for (let i = 0; i < this.selectValues.length; i = i + 1) {
          if (this.selectValues[i] === obj.label) {
            this.present = true;
          }
        }
        if (!this.present) {
          this.allChart[0].config.data.datasets.splice(ind, 1);
          this.allChart[0].update();
        }
      });
    }
    // console.log(this.upward);
    // console.log(this.downward);
    // this.selectValues.forEach((obj) => {
    //   this.present = false;
    //   for (let i = 0; i < this.upward.length; i = i + 1) {
    //     if (this.upward[i].label === obj) {
    //       this.present = true;
    //     }
    //   }

    //   if (!this.present) {

    //   }
    // });
  }

  ticksConfigUp(val: any) {
    const dk = moment(val, 'HH:mm:ss');
    if (Number(dk.seconds()) === 0) {
      return '';
    }
    return undefined;
  }

  xAxesDataUp: any = {
    type: 'line',
    display: true,
    ticks: {
      maxTicksLimit: 10,
      maxRotation: 0,
      callback: this.ticksConfigUp,
    },
    time: { format: undefined },
  };

  yAxesDataUp: any = {
    gridLines: {
      display: true,
    },
    scaleLabel: {
      display: false,
    },
    ticks: {
      padding: 0,
      min: 0,
      max: 100,
      stepSize: 20,
      maxTicksLimit: 6,
      callback: (val:any) => `${val}`,
    },
  };

  ticksConfigDown(val: any) {
    const dk = moment(val, 'HH:mm:ss');
    if (Number(dk.seconds()) === 0) {
      return moment(dk)
        .format('HH:mm');
    }
    return undefined;
  }

  xAxesDataDown: any = {
    type: 'realtime',
    display: true,
    ticks: {
      maxTicksLimit: 10,
      maxRotation: 0,
      callback: this.ticksConfigDown,
    },
    time: { format: undefined },
  };

  yAxesDataDown: any = {
    gridLines: {
      display: true,
    },
    scaleLabel: {
      display: false,
    },
    ticks: {
      padding: 0,
      min: -100,
      max: 0,
      stepSize: 20,
      maxTicksLimit: 6,
      callback: (val:any) => {
        return Number(val) * -1;
      },
    },
  };

  scaleConfigUp = {
    xAxes: [{
      ...this.xAxesDataUp,
    }],
    yAxes: [{
      ...this.yAxesDataUp,
    }],
  };

  scaleConfigDown = {
    xAxes: [{
      ...this.xAxesDataDown,
    }],
    yAxes: [{
      ...this.yAxesDataDown,
    }],
  };

  get rangeMs() {
    return Number(this.selectedPeriodId) * 60 * 1000;
  }

  refreshRate() {
    if (Number(this.interval) > 0) {} else {
      this.interval = '5';
    }
    this.refreshRateValue = Number(this.interval) * 1000;
  }

  get streaming() {
    return {
      frameRate: 30,
      refresh: this.refreshRateValue,
      delay: this.refreshRateValue,
      ttl: undefined,
      duration: this.rangeMs,
    };
  }

  get chartConfigUp(): Chart.ChartOptions {
    return {
      plugins: { streaming: this.streaming },
      legend: {
        display: false,
        position: 'bottom',
        fullWidth: false,
        labels: {
          boxWidth: 20,
        },
      },
      elements: {
        point: {
          pointStyle : 'line',
          radius : 0,
        },
      },
      tooltips: {
        position : 'nearest',
        intersect: true,
      },
    };
  }

  get chartConfigDown(): Chart.ChartOptions {
    return {
      plugins: { streaming: this.streaming },
      legend: {
        display: this.showLegend,
        position: 'bottom',
        fullWidth: false,
        labels: {
          boxWidth: 20,
        },
        onClick: (_, legendItem) => {
          this.allChart.forEach((ch) => {
            ch.data.datasets[legendItem.datasetIndex].hidden = !ch.data.datasets[legendItem.datasetIndex].hidden;
          });
        },
      },
    };
  }

  updateStreamDiskUp(chart: any) {
    this.allChart[0] = chart;
    const lt:number[] = [];
    chart.data.datasets.forEach((dataset: any, ind: number) => {
      // if (ind & 1) {
      //   dataset.hidden = true;
      // }
      const rdata = Math.floor(Math.random() * 100);
      lt.push(rdata);
      dataset.data.push({
        x: moment.now(),
        y: rdata,
      });
    });
  }

  updateStreamDiskDown(chart: any) {
    this.allChart[1] = chart;
    const lt:number[] = [];
    chart.data.datasets.forEach((dataset: any, ind: number) => {
        // if (ind & 1) {
        //   dataset.hidden = true;
        // }
      const rdata = Math.floor(Math.random() * -100);
      lt.push(rdata);
      dataset.data.push({
        x: Date.now(),
        y: rdata,
      });
    });
  }

}
</script>

